.post-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
/* 
.profile-pic-link, .profile-pic-for-post{
    width: 50px;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    border-radius: 50%;
} */

.MuiAvatar-root, .MuiAvatar-img{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    --Avatar-size: 50px;
}

.MuiAvatar-root {
    margin-right: 10px;
}

.post-upper{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.post-lower {
    margin-top: 10px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.circular-container {
    width: 40px;
    height: 40px;
    margin-right: 3%;
}

.CircularProgressbar-text{
    font-weight: 700;
}