/* hex number
    #628912
    #7f601f
    #fcc085
    #e86c38
    #6c7c7c
*/

.header {
    height: 80px;
    background-color: #fcc085;
    width: 100%;
}

.logo-container{
    height: 100%;
}

.logo {
    height: 100%;
}