

.header {
    height: 80px;
    background-color: #fcc085;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    height: 100%;
}

.logo {
    height: 100%;
}

.button-group{
    margin: 0 20px;
    width: 20%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}
