.ProfileEditForm-dialog-wrap {
  justify-content: center;
  text-align: center;
  min-height: 850px;
  min-width: 550px;
}

.ProfileEditForm-dialog-item-wrap {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ProfileEditForm-dialog-title.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  font-size: xx-large;
  font-weight: bolder;
}

.ProfileEditForm-card {
  width: 500px;
}

