.ResetPassword-outer-box-wrap {
    min-width: 100%;
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ResetPassword-card-wrap {
    padding: 30px;
}

.ResetPassword-card-title.MuiTypography-root {
    font-size: x-large;
    justify-content: center;
    display: flex;
}