.card-wrap {
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-text.css-ahj2mt-MuiTypography-root {
  font-weight: bolder;
}

.card-item-pic {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 15px 0;
}

.card-item-bg-img {
  height: 200px;
  width: 80%;
  object-fit: cover;
}