.post-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

}

.post{
    width: 100%;
    max-width: initial;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center ;
    padding-left: 10%;
    padding-right: 10%;
}

.card-post{
    width: 100%;
    box-shadow:3%;
    border-radius:2;
    padding: 1%;
    margin-bottom: 5% ;
    border:2px;
    justify-content: stretch;
}

.profile-button {
    outline: none;
    text-decoration: none;
}