.card-wrap {
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-text.css-ahj2mt-MuiTypography-root {
  font-weight: bolder;
}

.avatar.MuiAvatar-root {
  width: 200px;
  height: 200px;
  background-color: #aaaaaa;
}